@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 19% 16%;
    --card: 0 0% 100%;
    --card-foreground: 240 19% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 160 76.2% 36.3%;
    --primary-foreground: 300 0% 100%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --tertiary: 27 82% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 237 9% 96%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 237 20% 15%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 300 0% 100%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 160 76.2% 36.3%;
    --primary-foreground: 300 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 300 0% 100%;
    --tertiary: 27 82% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 237 13% 63%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}
.special-logo {
  filter: invert(0%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.before\\:rotate {
  animation: rotate 4s linear infinite;
}

/* 确保 dark 模式生效 */
.dark .before\\:bg-dots_dark {
  background-image: url('/dots-dark.svg');
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  @keyframes borderRadiusAnimation {
    0% {
      border-radius: 46% 54% 65% 35% / 26% 38% 62% 74%;
    }
    25% {
      border-radius: 65% 35% 35% 65% / 47% 73% 27% 53%;
    }
    50% {
      border-radius: 45% 55% 35% 65% / 69% 33% 67% 31%;
    }
    75% {
      border-radius: 7% 93% 75% 25% / 34% 66% 34% 66%;
    }
    100% {
      border-radius: 42% 58% 15% 85% / 74% 31% 69% 26%;
    }
  }
  @keyframes borderRadiusAnimation-2 {
    0% {
      border-radius: 45% 55% 35% 65% / 69% 33% 67% 31%;
    }
    25% {
      border-radius: 42% 58% 15% 85% / 74% 31% 69% 26%;
    }
    50% {
      border-radius: 7% 93% 75% 25% / 34% 66% 34% 66%;
    }
    75% {
      border-radius: 46% 54% 65% 35% / 26% 38% 62% 74%;
    }
    100% {
      border-radius: 65% 35% 35% 65% / 47% 73% 27% 53%;
    }
  }

  .animate-border-radius {
    animation: borderRadiusAnimation 10s ease-in-out infinite alternate;
  }
  .animate-border-radius-2 {
    animation: borderRadiusAnimation-2 10s ease-in-out infinite alternate;
  }
  .stop-animation {
    animation-play-state: paused;
  }

  .custom-border-radius-1 {
    border-radius: 90% 10% 22% 78% / 77% 53% 47% 23%;
  }
}
.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold;
}
.h2 {
  @apply text-4xl font-bold;
}
.h3 {
  @apply text-3xl font-bold;
}
.h4 {
  @apply text-[22px] font-semibold;
}
.subtitle {
  @apply text-muted-foreground text-lg mb-8 font-light;
}

.section-title {
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:bg-dots_light before:dark:bg-dots_dark before:bg-no-repeat before:bg-center 
  before:w-[24px] before:h-[24px];
}
.badge {
  @apply z-10 w-[200px] h-[68px] bg-white dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
}
